<section class="encabezado">
  <div class="usuario">
    {{#if user}}
      <h4>Hola,
        <a href="/users">{{user.name}}</a>
        ¡Gracias por visitarnos! 🤩</h4>
      <p>Tenés rol de
        <strong>{{user.role}}</strong>
      </p>
      <p>Para desloguearte, click en el botón
        <button id="logout">¡¡Chau!!</button></p>
    {{else}}
      <p>Aun no estás logueado. Click
        <a href="/users/login">aquí</a>
        si querés loguearte</p>
    {{/if}}
  </div>
  <h1>Windward Car &amp; Truck - Battery Store</h1>

  <h2>Listado de productos en stock</h2>

</section>
<section class="selectores">
  <p class="small">Elegir opciones de visualización</p>
  <form action="" class="visualizacion" id="visualizacion">
    <select name="cantidad" id="cantidad">
      <option value="">Productos por página</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    <select name="criterio" id="criterio">
      <option value="">Ordenar por</option>
      <option value="price">Precio</option>
      <option value="title">Nombre</option>
      <option value="stock">Stock</option>
    </select>
    <select name="sentido" id="sentido">
      <option value="">Sentido</option>
      <option value="-1">Mayor a menor</option>
      <option value="1">Menor a mayor</option>
    </select>
    <button type="submit" value="actualizar">Actualizar</button>
  </form>
  <p id="carritoEnCatalogo"></p>
</section>
<section class="container">
  {{#each productosObtenidos.docs}}
    <div class="card">
      <div>{{#if this.thumb}}
          <a href="catalogo/{{this._id}}">
            <img src="{{this.thumb}}" alt="{{this.title}}" /></a>{{else}}<a
            href="/catalogo/{{this._id}}"
          >
            <img src="/img/sinfoto.jpg" alt="Producto sin foto" /></a>
        {{/if}}
      </div>
      <div><a href="/catalogo/{{this._id}}">{{this.title}}</a></div>
      <div><span class="small">Precio:</span> {{formatear this.price}}</div>
      <div><span class="small">SKU:</span> {{this.code}}</div>
      <div><span class="small">Cantidad en stock:</span> {{this.stock}}</div>
      <button id="{{this._id}}" class="agregar">Comprar</button>
    </div>
  {{/each}}
</section>
{{#if productosObtenidos.paginacion}}
  <div class="paginacion">
    <div class="cursores">
      <div class="atras">{{#if productosObtenidos.hasPrevPage}}
          <a href={{productosObtenidos.prevLink}}>⬅️ </a>{{/if}}
      </div>
      <div class="pagina">{{productosObtenidos.page}} </div>
      <div class="adelante">{{#if productosObtenidos.hasNextPage}}<a
            href={{productosObtenidos.nextLink}}
          > ➡️ </a>{{/if}}
      </div>
    </div>
  </div>
{{/if}}

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/catalogo.js"></script>