<section class="encabezado"><h2>Windward Car &amp; Truck Battery Store</h2>
  <h1>{{producto.title}}</h1></section>
<section>
  <div class="card-detalle">

    <div> {{formatear producto.price}}</div>
    <div>{{producto.description}} </div>
    <div>{{producto.code}}</div>
    <div>{{producto.stock}}</div>
    <div>{{#if producto.thumb}} <img src={{producto.thumb}} />{{/if}} </div>
  </div>

</section>

<script src="/js/helpers.js"></script>