{{> nav}}

<section class="encabezado"><h2>Windward Car &amp; Truck Battery Store</h2>
  <h1>{{result.title}}</h1></section>
<section>
  <div class="card-detalle">

    <div> {{formatear result.price}}</div>
    <div>{{result.description}} </div>
    <div>{{result.code}}</div>
    <div>{{result.stock}}</div>
    <div>{{#if result.thumb}} <img src="/uploads/img/products/{{result.thumb}}" />{{else}}
        <img
          src="/uploads/img/products/sinfoto.jpg"
          alt="Producto sin foto"
        />{{/if}} </div>
  </div>

</section>

<script src="/js/helpers.js"></script>