{{> nav}}
<section class="main">
  <h1>Hola, bienvenidos al panel de administración de Windward Car &amp; Truck -
    Battery Store</h1>
  <h2>Modificar producto:
    <span class="titulo">{{result.title}}</span></h2>

  <div>

    <h3>ID del producto:
      <span id="idproducto">{{result._id}}</span>
    </h3>

    <form id="modificar" action="" enctype="multipart/form-data">
      <label for="title">Nombre</label>
      <input
        type="text"
        id="title"
        name="title"
        value="{{result.title}}"
      />
      <label for="price">Precio</label>
      <input
        type="number"
        id="price"
        name="price"
        value={{result.price}}
      />
      
      <label for="code">Código (SKU)</label>
      <input
        type="text"
        id="code"
        name="code"
        value={{result.code}}
      />
      <label for="description">Descripcion</label>
      <input
        type="text"
        id="description"
        value="{{result.description}}"
        name="description"
      />
      <label for="stock">Stock</label>
      <input
        type="number"
        id="stock"
        value={{result.stock}}
        name="stock"
      />
      <label for="status">Status</label>
      <input type="text" value="true" />
      <input type="submit" />
    </form>
    <div class="errores" id="errorModificar"></div>
    {{!-- ------------------------------------------------------- --}}
    {{!-- Banner con categorías que se pueden agregar al producto --}}
    {{!-- ------------------------------------------------------- --}}
    <div><p><small>Categorías existentes</small></p>
    <div>
      <small id="existentes">
          {{#each categoriasExistentes}}
      
            <button
              class="badge agregarCate"
              name="{{../result._id}}"
              id="{{this.category}}"
            >{{this.category}} ✅</button>
          {{/each}}
        </small>
    </div>
      <p>
        <small>Si querés agregar una nueva opción de categoría,
          utilizá el
          <strong>Administrador de Categorías</strong>
          en la página ppal del panel de Administración.</small>
      </p></div>
    {{!-- -------------------------------------------------------- --}}
    {{!-- Banner con categorías ya asignadas, que se pueden borrar --}}
    {{!-- -------------------------------------------------------- --}}
     <div><p><small>Categorías ya asignadas</small></p>
     <div>
       <small id="asignadas">{{#each
            result.category
          }}
            <button
              class="badge borrarCate"
              name="{{../result._id}}"
              id="{{this}}"
            >{{this}} ❌</button>
          {{/each}}
        </small>
     </div>
    
      <p><small>Hacer click en la cruz roja para borrar una categoría asignada</small></p>
  </div>
  </div>

  <div>
    <h2>Subir imagen de producto</h2>
    <form
      id="subirImagen"
    >
      
      <label for="thumb">Seleccionar archivo</label>
      <input type="file" name="imagen" id="imagen" />
      <input type="submit" value="enviar" />
    </form>
    <div class="errores" id="errorImagen"></div>
  </div>

  <!-- hasta aca el formulario -->

 
</section>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/helpers.js"></script>