<div class="card">
  <div>{{#if this.thumb}}
      <a href="catalogo/{{this._id}}">
        <img
          src="/uploads/img/products/{{this.thumb}}"
          alt="{{this.title}}"
        /></a>{{else}}<a href="/catalogo/{{this._id}}">
        <img
          src="/uploads/img/products/sinfoto.jpg"
          alt="Producto sin foto"
        /></a>
    {{/if}}
  </div>
  <div><a href="/catalogo/{{this._id}}">{{this.title}}</a></div>
  <div><span class="small">Precio:</span> {{formatear this.price}}</div>
  <div><span class="small">SKU:</span> {{this.code}}</div>
  <div><span class="small">Cantidad en stock:</span> {{this.stock}}</div>
  <div class="botones"><a href="/catalogo/{{this._id}}">Ver</a><button {{#if (comparar this.stock "===" 0)}} disabled {{/if}}
      id="{{this._id}}"
      class="agregar"
    >Comprar</button></div>
</div>